.header-content{
    min-height: 75vh;
    background: linear-gradient(rgba(179, 121, 14, 0.3), rgba(236, 177, 65, 0.5)), url("../../images/mebo.jpg") center/cover no-repeat;
    flex-direction: column;
}
.header-title{
    font-size: 4.2rem;
}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}